*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body{
	font-family: 'Saira', sans-serif;
	color: #3b506c;

}
img{
	max-width: 100%;
}
.container{
	width:calc(100% - 200px);
	margin: auto;

}
.flex{
	display: flex;
	flex-wrap: wrap;
	
}
.align-center{
	align-items: center;
}
.justify-center{
	justify-content: center;
}
.col-1-3{
	flex-basis: 33.33%;
	padding: 15px;
}
header{
	border-bottom: 2px solid #3b506c3b;
}
.logo{
	flex-basis: 20%;
}
.logo img{}
nav{
	flex-basis: 80%;
}
nav ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	list-style: none;
}
nav ul li{}
nav ul li a{
	color: #3b506c;
	font-weight: 400;
	padding: 30px 15px;
	display: block;
	text-decoration: none;
	font-size: 20;
}
nav ul li a:hover{}

.about-section{}
article{
	width: 800px;
	text-align: center;
	margin: auto;
	padding: 50px 0;
}
article h1{
	font-size: 70px;
	line-height: 1.3em;
}
article h1 span{
	color: #0c66ff;
	display: block;
}
article p{
	font-size: 20px;
	margin-bottom: 30px;
}
article img{
	max-width: 100%;
}

.feature-section{
	padding: 30px 0;
}
.feature{}
.feature h2{
	font-size: 50px;
	color: #ff6584;
}
.feature p{
	font-size: 20px;
}
.feature h3{
	font-size: 50px;
	line-height: 1.3;
}
.float-right{
	float: right;
	text-align: right;

}

.blog-section{
	padding: 50px 0;
}
.post{
	padding: 100px 40px;
}
.post h4{
	font-size: 20px;
	font-weight: 600;
	margin-top: 20px;
}
.post p{
	font-size: 16px;
}
.post img{
	height: 230px;
	margin: auto;
	display: block;
}


.red{
	background-color:#FDEBED ;
}
.green{
	background-color:#EBF9F4 ;
}
.cream{
	background-color: #fff7e8;
}

footer{
	background-color: #0c66ff;
	padding: 20px 0;
	text-align: center;
}

footer p{
	color: #fff;
	font-size: 15px;
}
footer p b{}

